/*
  There are some common font definitions in _global.scss.
*/

$sizes: formTextSizes($text-initial-size);

@import './helpers/_mixins.typography.scss';
@import './helpers/_utility.typography.scss';

h1, .u-alpha {
  font-size: nth($sizes, 1);
  font-family: $serif;
}
h2, .u-beta {
  font-family: $serif;
  font-size: nth($sizes, 2);
}
h3, .u-gamma {
  font-family: $serif;
  font-size: nth($sizes, 3);
}
h4, .u-delta {
  font-size: nth($sizes, 4);
}
h5, .u-epsilon {
  font-size: nth($sizes, 5);
}
h6, .u-zeta {
  font-size: nth($sizes, 6);
}

p { @include text-regular($sans-serif, 5, normal); }
