/*
  There are some common font definitions in _global.scss.
*/

$text-initial-size: 5.5em; // Seed for font sizes generator
$sizes: formTextSizes($text-initial-size);

$serif: 'Lora', 'Girgia', 'Times New Roman', serif;
$sans-serif: 'Open Sans', 'Verdana', sans-serif;

@import './helpers/_mixins.typography.scss';
@import './helpers/_utility.typography.scss';

h1, .u-alpha {
  font-size: nth($sizes, 1);
  font-family: $serif;
}
h2, .u-beta {
  font-family: $serif;
  font-size: nth($sizes, 2);
}
h3, .u-gamma {
  font-family: $serif;
  font-size: nth($sizes, 3);
}
h4, .u-delta {
  font-size: nth($sizes, 4);
}
h5, .u-epsilon {
  font-size: nth($sizes, 5);
}
h6, .u-zeta {
  font-size: nth($sizes, 6);
}

p { @include text-regular($sans-serif, 5, normal); }
