$button-text-size: (nth($sizes, 5));
$button-vertical-padding: 1em;
$button-horizontal-padding: 2em;

@import '../helpers/_mixins.buttons.scss';
@import '../helpers/_extends.buttons.scss';

.button {
  @extend %button;
  @include button($button-text-size, $button-vertical-padding);
  background-color: $color-brand;
  box-shadow: 1px 1px 3px black;
}

.button--h-indent {
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav-toggle {
  background-color: transparent;
  border: 1px solid $color-strong;
  color: $color-strong;
  font-size: 3em;
  display: none;
}

.button--social {
  width: 2em;
  height: 2em;
  padding: .5em;
  background-color: $color-gray;
  box-shadow: none;
}

.button--minimize {
  font-size: 3em;
  padding: 0;
  width: 2em;
  height: 2em;
  margin: -1em auto;
  display: block;
}
