            /*          Main
             ******************************/

.l-main {
  position: relative;
  z-index: 1;
}

            /*          Header
             ******************************/

.l-hero {
  position: relative;
  padding: 2em;
}

.l-navbar {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.l-companies-logo--header {
  width: 30%;
  display: inline-block;
}

.l-companies-nav--header {
}

.l-header {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  text-align: center;
  padding: 0 2em;
  z-index: 1;
}


              /*        Services
               ****************************/

.l-services {
  padding-top: 1px;
  margin: 0 auto;
}


              /*       Portoflio
               ****************************/

.l-portfolio {
  padding: 1px 0;
  background-color: $color-subtle;
}

.l-portfolio__container {
  margin: 0 auto;
}


              /*        Brands
               ************************/

.l-brands {
  list-style-type: none;
  padding: 0;
  // width: 90%;
  margin: 5em auto;
}


              /*      Testimonials
               **************************/

.l-testimonials {
  background-color: $color-subtle;
  padding: 3em 0;
}

.l-testimonials__container {
  margin: 0 auto;
}


              /*      Contact Us
               ***************************/

.l-contacts {
  background-color: $color-strong;
  color: $color-base;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s;
}

.l-contacts__container {
  padding: 3em 1em;
  padding-bottom: 5em;
  margin: 0 auto;
}

.l-contacts__info {
  float: left;
  width: 30%;
  padding-top: 2em;
}

.l-contacts__header {
  margin: 0;
  line-height: 1;
  float: left;
}

.l-contacts__navmenu {
  float: right;
}

.l-contacts__cell {
  margin: 1em;
  padding: 1px;
}

.l-contacts__form {
  float: left;
  width: 70%;
  padding: 1em;
}

.l-contacts__field--drop {
  float: left;
  width: 49%;
}

.l-contacts__message {
  clear: both;
  width: 100%;
}

.l-copyright {
  float: left;
  padding: .5em 0;
  margin: 0;
}

.l-footer {
  position: relative;
  z-index: 0;
  padding: 1em;
}

.l-footer__container {
  margin: 0 auto;
}
