$button-text-size: (nth($sizes, 5));
$button-vertical-padding: 1em;
$button-horizontal-padding: 2em;

@import '../helpers/_mixins.buttons.scss';
@import '../helpers/_extends.buttons.scss';

.button {
  @extend %button;
  @include button($button-text-size, $button-vertical-padding);
  background-color: $color-brand;
}

.button--h-indent {
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav-toggle {
  background-color: transparent;
  border: 1px solid $color-strong;
  color: $color-strong;
  font-size: 3em;
  display: none;
}
