$button-text-size: (nth($sizes, 5));
$button-vertical-padding: 1em;
$button-horizontal-padding: 2em;

@import '../helpers/_mixins.buttons.scss';
@import '../helpers/_extends.buttons.scss';

.c-button {
  @extend %button;
  @include button($button-text-size, $button-vertical-padding);
  background-color: $color-brand;
}
.c-button--circle {
  padding: $button-vertical-padding;
  width: 1em + ($button-vertical-padding * 2);
}
