.swiper-container {
  width: 800px;
  height: 300px;
}
.swiper-slide {
  text-align: center;
  vertical-align: bottom;
}
.swiper-button-next {
}
.swiper-bullet--custom {
  background-color: purple;
}
/* .swiper-pagination-bullet {
  background-color: pink;
} */
