.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services {
  @extend .gallery;
  padding: 5em 0;
}
.service__item {
  float: right;
  width: 25%;
}
.service__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2em;
}
.service__logo {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 0 auto 1.5em;
  background: $color-subtle no-repeat center center;
}
.service__logo--1 {
  background-image: url("../images/icons/pencil.png");
}
.service__logo--2 {
  background-image: url("../images/icons/interface.png");
}
.service__logo--3 {
  background-image: url("../images/icons/bulb.png");
}
.service__logo--4 {
  background-image: url("../images/icons/bezier.png");
}
.service__header {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  word-spacing: 0.3em;
  margin: 0;
  &:after {
    content: "";
    margin: 1em auto;
    display: block;
    width: 5em;
    height: 2px;
    background-color: $color-gray;
  }
}
.service__description {
  font-size: nth($sizes, 6);
  line-height: 1.5;
  color: $color-gray;
}



      /*      Portfolio
       ***********************/

.work-samples {
  @extend .gallery;
  margin: 0;
  color: $color-gray;
  width: 95%;
  margin: 0 auto;
}
.work-sample__container {
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  margin-bottom: 2em;
  width: 32%;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
.work-sample__img {
  background-size: cover;
  padding-bottom: 75%;
}
.work-sample__img--1 {
  background-image: url("../images/galleries/website_sample.jpg");
}
.work-sample__img--2 {
  background-image: url("../images/galleries/press_sample.jpg");
}
.work-sample__img--3 {
  background-image: url("../images/galleries/website_sample_2.jpg");
}
.work-sample__img--4 {
  background-image: url("../images/galleries/logo_sample.jpg");
}
.work-sample__img--5 {
  background-image: url("../images/galleries/poster_sample.jpg");
}
.work-sample__img--6 {
  background-image: url("../images/galleries/star_image.jpg");
}
.work-sample__caption {
  display: block;
  margin: 0;
  height: 4em;
  font-size: nth($sizes, 6);
  font-weight: bold;
  padding: 1.5em;
  background-color: $color-base;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



                /*      Brand Section
                 ****************************/

.brand__container {
  display: inline-block;
  width: 16.666%;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
}

.brand__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

.brand__overlay {
  position: absolute;
  background-color: $color-base;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .5;
  transition: opacity .3s;

  &:hover {
    opacity: 0;
  }
}

.brand__logo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
