@mixin text-regular($fam, $siz, $wei) {
  font-family: $fam;
  font-size: nth($sizes, $siz);
  font-weight: $wei;
}

@mixin text-navmenu($fam, $siz) {
  font-family: $fam;
  font-size: nth($sizes, $siz);
  text-decoration: none;
}
